<section class="container">
  <div class="" *ngIf="groups.length > 0; else emptyList">
    <div *ngFor="let group of groups">
      <a (click)="toggleGroup(group.id)" class="group-header">
        <div class="group-header-content">
          <span>{{group.name}} ({{group.members.length}})</span>
          <img src="assets/arrow.png" [ngClass]="changeArrow(group.id)" class="arrow-icon" />
        </div>
      </a>
      <div *ngIf="openGroups[group.id]" class="group-body">
        <p>"{{ group.description }}"</p>
        <div class="contact-grid">
          <app-contacts-card *ngFor="let contact of getStoredContacts(group.id)" [contact]="contact"></app-contacts-card>
        </div>
        <!-- <div *ngFor="let contact of getStoredContacts(group.id)" class="group-contact">
          <app-contacts-card [contact]="contact"></app-contacts-card>
        </div> -->
      </div>
    </div>
  </div>
</section>
<app-fab></app-fab>
<ng-template #emptyList>
  <div class="ff-inter empty-list">
    <p>Ainda não há grupos cadastrados!</p>
  </div>
</ng-template>