<section class="signup-container">
  <h2>Sign up! 👋</h2>
  <form [formGroup]="signupForm">
    <label for="name">Your name:</label>
    <input type="name" name="name" formControlName="name" placeholder="John Snow">
    <div class="error-message" *ngIf="(name?.touched || name?.dirty) && 
      name?.errors?.['required']">
      O nome é obrigatório!
    </div>
    <div class="error-message"
      *ngIf="(name?.touched || name?.dirty) && (name?.errors?.['minlength'] || name?.errors?.['maxlength'])">
      O nome precisar ter no mínimo 3 caracteres e no máximo 20 caracteres.
    </div>
    <div class="error-message" *ngIf="(name?.touched || name?.dirty) &&
      name?.errors?.['pattern']">
      Esse campo aceita apenas letras e espaços.
    </div>
    <label for="email">Email:</label>
    <input type="email" name="email" formControlName="email" placeholder="john.snow@email.com">
    <div class="error-message" *ngIf="(email?.touched || email?.dirty) && email?.errors?.['required']">
      O email é obrigatório!
    </div>
    <div class="error-message" *ngIf="(email?.touched || email?.dirty) && email?.errors?.['email']">
      O email informado não é válido.
    </div>
    <label for="password">Password:</label>
    <input name="password" formControlName="password" type="password" placeholder="******"
      (input)="checkPasswordValidity()">
    <div class="pw-validation-container">
      <div *ngFor="let rule of validationRules" [ngClass]="handleValidationColors(rule)">
        <img [src]="handleValidationImage(rule)" alt='checkbox image for {{rule.name}}' />
        <span>{{ rule.text }}</span>
      </div>
    </div>
    <button class="btn btn-signup" (click)="signup()" [disabled]="handleSignUpButtonDisabled()">Create account</button>
  </form>
  <p class="terms">By clicking "Create account", you agree to our terms, which we don't know yet, but you agree to them.
  </p>
  <p>Return to <a routerLink="/login">login</a>.</p>
</section>